* {
    box-sizing: border-box;
}

.container {
    width: 760px;
    height: 760px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.pixel {
    border: 1px solid rgb(213, 215, 219);
    height: 100%;
    width: 100%;
}

.pixel:hover {
    transform: scale(1.5);
    border-color: rgb(88, 89, 92);
}

.row {
    display: flex;
    flex: 1 1 auto;
}