.container {
    width: 600px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.pixel {
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

.pixel:hover {
    background-color: aquamarine;
}

.row {
    display: flex;
    flex: 1 1 auto;
}